* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border: 5px solid black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

#player, #layer1, #layer2, #layer3, #layer4, #layer5, #enemy_fly, #enemy_ground {
    display: none;
     
}

.settings {
    border: 5px solid black;
    padding: 5px;
    position:absolute;
    top: 40%;
    left: 10%;
    transform:translate(-50%, -50%);
}

.settingTitle {
    padding: 0.5em;
}

.inputs {
    list-style: none;
    padding-left: .5em;
}

.inputs li {
    padding-bottom: 1em;
}

#about {
    position:absolute;
    top: 90%;
    left: 43%;
    transform:translate(-50%, -50%);
}

#about h1, h3 {
    color: teal;
}

.tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

o{
    display:block;
    width:80px;
    float:left;
}

.controls{
    position: absolute;
    bottom: 55%;
    left: 82%;
    border: 5px solid black;
    padding: 10px;
}

.filter{
    display:none
}
